.map_container {
	width:90%;
	margin:auto;
	background:#cccccc;
	padding:20px 0px 20px 0px;
}
/*
.map_container{position:absolute;width:90%;margin:auto;background:#cccccc;padding:20px 0px 20px 0px;}
*/
.map_container #map {
	width:96%;
	height:700px;
	margin:auto;
}

.map-infoView {
	text-align: left;

	line-height:1.35;
	overflow:hidden;
	white-space:nowrap;
}

div.map-infoView button {
	width: 100%;
	text-align: center;
	color: red;
	display: block;
}

/* Computer image in infoview */
.map-iconstate {
	width: 32px;
}
/* Computer hostname in infoview */
.map-hostname {
/*
	margin-left: 20px;
*/
	padding: 10px;
}


.labels {
   color: red;
   background-color: white;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 100px;
   white-space: nowrap;
 }
 
.map-servicesList {
	list-style-type: none;
}

.map-service {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	padding: 1px;
	margin-top: 5px;
	margin-right: 5px;
	display: inline-block;
}
.map-service-OK {
	background-color: rgb(76,180,73);
}
.map-service-WARNING {
	background-color: rgb(212,161,94);
}
.map-service-CRITICAL {
	background-color: rgb(159,48,48);
}
.map-service-UNKNOWN {
	background-color: rgb(240,230,140);
}
.map-service-PENDING {
	background-color: rgb(18,158,255);
}

.map-service-SOFT{
	/* Background en dégradé blanc transparent */
	background-image: -webkit-linear-gradient(right top, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%);
	background-image:    -moz-linear-gradient(right top, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%);
	background-image:     -ms-linear-gradient(right top, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%);
	background-image:      -o-linear-gradient(right top, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%);
	background-image:         linear-gradient(right top, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%);
}
